.env
.DS_Store
faiss_index/
.venv/
infio
test/
**/__pycache__/
Question_qualité


# On ignore les fichiers de configuration spécifiques à l'environnement
# On ignore les fichiers de type documentation ainsi que tout ce qui est généré par l'application
Document_handler/Corpus/data_sites/*
Document_handler/Corpus/json_normalized/*
Document_handler/Corpus/test/

node_modules

Document_handler/scraping/logs/
Document_handler/scraping/scraping_tool/progress/
Document_handler/scraping/scraping_tool/config_sites/

Document_handler/new_filler/preprocessing/input_maps/
Document_handler/new_filler/preprocessing/output_maps/
Document_handler/new_filler/preprocessing/vect_maps/

Document_handler/new_filler/progress/

Document_handler/new_filler/Vectorisation/vectorstore/
Document_handler/new_filler/Vectorisation/vectorstore_Syllabus/
Document_handler/new_filler/Vectorisation/vectorstore_Syllabus_Construct/

Document_handler/new_filler/Vectorisation/vectorstore_backup

Fastapi/backend/app/intelligent_rag/logs/

.vscode/

database.db

.devdbrc

ssl/polybot.crt
ssl/polybot.key

config.env
Fastapi/nginx/nginx-https-configured.conf
Fastapi/nginx/nginx-configured.conf
monitor.sh
monitor-dev.sh

logs/