[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain-openai = "*"
langchain-community = "*"
faiss-cpu = "*"
openai = "*"
pypdf = "*"
streamlit-cookies-manager = "*"

[dev-packages]

[requires]
python_version = "3.13"
