# FastAPI and core
fastapi
uvicorn

# Rate limiting
slowapi
redis

# CORS middleware
python-multipart
aiofiles
requests
pydantic
python-dotenv

# LangChain & related
langchain
langchain-core
langchain-openai
langchain-chroma
langgraph
langchain-community

# OpenAI
openai

# Vector database
chromadb

# Utilities
tqdm

#Security 
python-jose
passlib[bcrypt]

# Database (pip install sqlmodel)
sqlmodel

# Gestion des pdf
pymupdf

# Gestion des fichier YAML
ruamel.yaml

# Scraping
beautifulsoup4
lxml
PyPDF2


# Scheduling tasks
schedule

# Timezone support
pytz